.image-grid {
  display: grid;
  // 關鍵：建立一個 4 欄的網格
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; // 網格間距
  transition: grid-template-columns 0.4s ease-in-out;
}

.image-grid-item {
  width: 100%;
  aspect-ratio: 1 / 1; // 保持 1:1 的正方形比例

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 圖片會被裁切以填滿容器，但不會變形
    border-radius: 4px; // 輕微的圓角
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }
}
